@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
body{
	background: #3780FD;
    color: #444;
}
body, button, input, select, textarea {
    font: .14rem Arial,sans-serif;
}
.p1 {
	color: #fff;
	text-align: center;
	font-size: .2rem;
	position: relative;
	top: .1rem;
}
b{
	font-size: .15rem;
}
.p2 {
	color: #ccc;
	font-size: .15rem;
}
.p3 {
	color: #ccc;
	font-size: .15rem;
}
.p4{
    margin-bottom: .5rem;
    color: #ccc;
    font-size: .15rem;
}
.p5{
    width: 96%;
    margin-left: 2%;
    border-bottom: 1px solid #f5f5f5;
    display: block;
    margin-bottom: .1rem;
}
.p6{
	font-size: .15rem;
	padding: 0 .1rem;
	color: #999;
}
.qrcode {
	width: 90%;
    margin-left: 5%;
	background-color: #fff;
	height: 4rem;
	padding: .5rem 0;
	border-radius: 6px;
    position: absolute;
    top: 50%;
    margin-top: -2.5rem;
    text-align: center;
}
img{
	width:2rem;
	height: 2rem;
}
