@charset "utf-8";
/* CSS Document */
* {
	box-sizing: border-box;
	font-style: normal;
	}
html {
    font-size: 24px;
	}
body,dd, dl, dt, form, h1, h2, h3, h4, h5, h6, html, img, input, li, ol, p, ul{
	margin: 0;
    padding: 0;
    outline-width: 0;
    outline-style: none;
    outline-offset: 0;
    border: 0;
    -webkit-font-smoothing: inherit;
    list-style: none;
}
	}
body {
    background: #fff;
    color: #444;
	}
body, button, input, select, textarea {
    font: .14rem/1.6 Arial,sans-serif;
}
.main-container{
	position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 0;
	}
.banner-swiper {
    width: 100%;
    height: 8.8rem;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
	}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    box-sizing: content-box;
	}
.swiper-wrapper img{
	width: 100%;
}
.card-box {
    box-sizing: border-box;
    position: relative;
    padding: 0 15px;
    z-index: 2;
	}
.select-zone {
    background: #fff;
    overflow: hidden;
    width: 100%;
    margin: -.65rem auto;
    margin-bottom: 0;
    padding: 10px 15px 20px;
    box-shadow: 0 8px 14px 0 hsla(0,0%,92%,.6);
    border-radius: 8px;
	}
.select-zone .select-header{
	display: flex;
}
.select-zone .select-header span{
	flex: 1;
}
.select-zone .select-header button{
	
}
.box-flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
	}
.box-flex li{
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: auto;
	}
.box-flex li strong{
	font-size: 1rem;
}
.nav-list{
	background-color: #fff;
}
.nav-list li{
	display: flex;
}
.nav-list li span{
	flex: 1;
}